

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(./images/concert-photo.jpeg);
    background-position: center;
    background-size: cover;
}

header {
    padding-top: 50px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    /*padding-top: 20px;*/
}

.searchBar {
    width: 100%;
    max-width: 700px;
    background-color: rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 2.5rem;
    color: white;
}
.btn-search {
    height: 20px;
    display: flex;
    border: solid black 2px;
    background-color: rgb(255, 255, 255, 0.3);
    
    padding: 30px;
    border-radius: 60px;
    /*margin-right: -5px;*/
}

.carousel-container {
    width: 66%;
    margin: 0 auto;
}

.scroll {
    background-color: white;
    margin: 0 auto; 
    padding: 3px; 
}
